*{
    margin: 0;
    padding: 0;
}

.wrapper1{
    background-color: rgba(0, 0, 0, 0.995);
    height: 100vh;
}

.mainImg1{
    position: absolute;
    margin-top: -6vh;
    margin-right: 7vw;
}

.mainImg2{
    position: absolute;
}

.mainImg3{
    position: absolute;
    margin-top: 6vh;
    margin-left: 7vw;
}

.mainImgs{
    display: flex;
    justify-content: center;
}

.mainImgs img{
    width: 56vh;
    border: 1px solid rgb(12, 12, 12);
    margin-top: 15vh;
}

.logoMain{
    display: flex;
    justify-content: center;
    margin-top: 43vh;
    margin-bottom: -37vh;
}

.h1{
    display: flex;
    justify-content: center;
    margin-top: 35vh;
    font-size: 600%;
    letter-spacing: 15px;
    color: rgb(121, 117, 117);
    font-family: 'Island Moments', cursive;
}

/* SEGUNDA SECCION */

.wrapper2{
    background-image: url(/img/wrapper2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}

.divDelWrapper2{
    display: flex;
    text-align: center;
    justify-content: center;
}

.divDelWrapper2 video{
    margin-top: 4%;
    border-radius: 15px;
    border: 1px solid gray;
}


/* TERCERA SECCION */

.wrapper3{
    background-color: rgb(30, 22, 29);
    height: 100vh;
}

.ramenanimado{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ramenanimado img{
    width: 16%;
}

.ramenanimado h2{
    color: white;
    font-size: 100px;
}